body {
    background-color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-self: auto;
    justify-content: center;
    flex-direction: column;
}
